.containerBody {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.categories {
  margin-left: 1rem;
  background-color: #ffffff;
  padding: 0.5rem 0.5rem 1rem 1rem;
  border-radius: 1rem;
  border: 1px dashed #c0c0c0;
}
.categories p {
  color: #ff5f00;
  margin-left: 1.5rem;
}
.categories span {
  margin-left: 0.5rem;
  font-weight: 600;
}
.categories li {
  list-style: none;
  margin-bottom: 0.3rem;
  padding-inline-start: 0px;
  padding-left: 0.5rem;
  margin-right: 18px;
  /* font-size: small; */
  cursor: pointer;
}
.active {
  background-color: #fdcbae;
  color: #ff5f00;
  border-radius: 0.3rem;
}
.container {
  display: flex;
  width: 80%;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.search {
  margin-bottom: 1rem;
  width: 100%;
}
.search input {
  width: 15rem;
  height: 1.5rem;
  outline: none;
  border: 1px dashed #ff5f00;
  margin-right: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.search button {
  height: 2.1rem;
  width: 2.1rem;
  outline: none;
  color: white;
  border: none;
  background-color: #ff5f00;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.loader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-content: flex-start;
}
/* .products:last-child {
  justify-content: flex-start;
} */
.sideBar {
  display: flex;
  flex-direction: column;
}
