.card {
  width: 14rem;
  height: 19rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px dashed #c0c0c0;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}
.image {
  display: flex;
  width: 10rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
}
.image img {
  width: 100%;
  height: 100%;
}
.detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
}
.top {
  height: 7rem;
  width: 100%;
}
.top p {
  color: #ff5f00;
  font-weight: 600;
}
.top span {
  color: #5a5a5a;
  font-weight: 600;
}
.buttom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.buttom button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: 1px solid #ff5f00;
  border-radius: 0.5rem;
  color: #ff5f00;
  font-size: large;
}
.buttom button:hover {
  background-color: #ff5f00;
  color: white;
}
.addtoCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.addtoCard span {
  width: 1rem;
  margin: 0 1rem;
}
.detail {
  color: #ff5f00;
  font-size: large;
}
